/* screen - about-us */

.about-us {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2841px;
  width: 1512px;
}

.about-us .flex-row {
  align-items: center;
  display: flex;
  margin-right: 3.0px;
  margin-top: 20px;
  min-width: 1347px;
}

.about-us .navbar {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  gap: 53px;
  margin-bottom: 2.0px;
  position: relative;
}

.about-us .navbar-link {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.about-us .navbar-link-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.about-us .component-1 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black-3);
  border-radius: 10px;
  display: flex;
  gap: 23px;
  height: 52px;
  margin-left: 457px;
  overflow: hidden;
  padding: 0 15px;
  width: 293px;
}

.about-us .iconamoonsearch {
  align-items: center;
  aspect-ratio: 1;
  display: flex;
  height: 24px;
  padding: 0 2px;
  width: 24px;
}

.about-us .vector {
  height: 20px;
  width: 20px;
}

.about-us .frame-2 {
  align-items: center;
  background-color: var(--deep-sapphire);
  border-radius: 15px;
  cursor: pointer;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  margin-left: 44px;
  overflow: hidden;
  padding: 16px 21px;
  position: relative;
}

.about-us .frame-33 {
  align-items: flex-start;
  background-color: var(--deep-sapphire);
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 275px;
  margin-top: 16px;
  padding: 49px 0;
  width: 1512px;
}

.about-us .about-the-nigerian-a {
  align-self: center;
  letter-spacing: 0;
  line-height: 61px;
  min-height: 122px;
  width: 1334px;
}

.about-us .advancing-knowledge {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 89px;
  min-height: 20px;
  white-space: nowrap;
}

.about-us .frame-34 {
  align-items: center;
  background-color: var(--mercury);
  display: flex;
  height: 440px;
  margin-top: 40px;
  padding: 22px 80px;
  width: 1512px;
}

.about-us .overlap-group-1 {
  align-items: flex-start;
  align-self: flex-start;
  background-color: var(--deep-sapphire-2);
  border-radius: 34.5px;
  display: flex;
  height: 69px;
  justify-content: flex-end;
  min-width: 69px;
  padding: 22px;
}

.about-us .material-symbolsother-admission {
  align-items: flex-end;
  aspect-ratio: 1;
  display: flex;
  height: 24px;
  padding: 1px;
  width: 24px;
}

.about-us .vector-1 {
  height: 20px;
  margin-left: 2px;
  width: 20px;
}

.about-us .flex-col-1 {
  align-items: flex-start;
  gap: 27px;
  margin-bottom: 19.0px;
  margin-left: 24px;
  min-height: 347px;
  width: 533px;
}

.about-us .our-mission {
  letter-spacing: 0;
  line-height: normal;
  min-height: 36px;
  white-space: nowrap;
}

.about-us .lorem-ipsum-dolor-si-1 {
  margin-left: 1px;
  min-height: 284px;
  width: 532px;
}

.about-us .frame-7 {
  background-image: url(../img/frame-7-1.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 15px;
  height: 284px;
  margin-left: 62px;
  margin-top: 46.0px;
  width: 664px;
}

.about-us .frame-35 {
  align-items: flex-start;
  background-color: var(--mercury);
  display: flex;
  gap: 24px;
  height: 303px;
  margin-top: 40px;
  padding: 29px 80px;
  width: 1512px;
}

.about-us .overlap-group {
  align-items: flex-start;
  background-color: var(--deep-sapphire-2);
  border-radius: 34.5px;
  display: flex;
  height: 69px;
  justify-content: flex-end;
  min-width: 69px;
  padding: 22px;
}

.about-us .tdesignbook-filled {
  align-items: center;
  aspect-ratio: 1;
  display: flex;
  height: 24px;
  padding: 0 3px;
  width: 24px;
}

.about-us .vector-2 {
  height: 20px;
  width: 18px;
}

.about-us .flex-col-2 {
  align-items: flex-start;
  align-self: center;
  gap: 27px;
  margin-bottom: 20.0px;
  min-height: 195px;
  width: 1259px;
}

.about-us .who-we-are {
  letter-spacing: 0;
  line-height: normal;
  min-height: 36px;
  white-space: nowrap;
}

.about-us .lorem-ipsum-dolor-si-2 {
  min-height: 132px;
  width: 1259px;
}

.about-us .frame-36 {
  align-items: flex-start;
  background-color: var(--mercury);
  display: flex;
  gap: 24px;
  height: 283px;
  margin-top: 38px;
  padding: 29px 80px;
  width: 1512px;
}

.about-us .file-iconsmicrosoft-publisher {
  align-items: flex-end;
  aspect-ratio: 1;
  display: flex;
  height: 24px;
  padding: 0.7px 0;
  width: 24px;
}

.about-us .vector-3 {
  height: 23px;
  width: 24px;
}

.about-us .flex-col-3 {
  align-items: flex-start;
  align-self: center;
  margin-bottom: 7.0px;
  min-height: 188px;
  width: 863px;
}

.about-us .what-we-publish {
  letter-spacing: 0;
  line-height: normal;
  min-height: 36px;
  white-space: nowrap;
}

.about-us .original-research-ar {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 24px;
  min-height: 95px;
}

.about-us .we-prioritize-work-t {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 14px;
  min-height: 19px;
}

.about-us .frame-container {
  height: 218px;
  margin-top: 40px;
  position: relative;
  width: 1512px;
}

.about-us .frame-37 {
  align-items: flex-start;
  background-color: var(--mercury);
  display: flex;
  gap: 24px;
  height: 209px;
  left: 0;
  padding: 26px 80px;
  position: absolute;
  top: 9px;
  width: 1512px;
}

.about-us .flowbitebrain-solid {
  align-items: center;
  aspect-ratio: 1;
  display: flex;
  height: 24px;
  padding: 0 2px;
  width: 24px;
}

.about-us .flex-col {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-bottom: 5.0px;
  min-height: 122px;
  width: 1255px;
}

.about-us .editorial-integrity {
  letter-spacing: 0;
  line-height: normal;
  min-height: 36px;
  white-space: nowrap;
}

.about-us .lorem-ipsum-dolor-si {
  letter-spacing: 0;
  line-height: normal;
  min-height: 57px;
  width: 1255px;
}

.about-us .frame-38 {
  align-items: flex-start;
  background-color: var(--mercury);
  display: flex;
  gap: 24px;
  height: 209px;
  left: 0;
  padding: 26px 80px;
  position: absolute;
  top: 0;
  width: 1512px;
}

.about-us .flowbitebrain-solid-1 {
  align-items: center;
  aspect-ratio: 1;
  display: flex;
  height: 24px;
  padding: 0 2px;
  width: 24px;
}

.about-us .editorial-integrity-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 36px;
  white-space: nowrap;
}

.about-us .frame-39 {
  align-items: flex-start;
  background-color: var(--mercury);
  display: flex;
  flex-direction: column;
  height: 237px;
  margin-top: 31px;
  padding: 31px 80px;
  width: 1512px;
}

.about-us .flex-row-1 {
  align-items: center;
  display: flex;
  gap: 24px;
  min-width: 257px;
}

.about-us .mdicontact {
  align-items: center;
  aspect-ratio: 1;
  display: flex;
  height: 24px;
  padding: 0 3px;
  width: 24px;
}

.about-us .vector-4 {
  height: 18px;
  width: 18px;
}

.about-us .contact-us {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: 8.0px;
  min-height: 27px;
  width: 164px;
}

.about-us .flex-row-2 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  height: 86px;
  margin-left: 93px;
  min-width: 320px;
}

.about-us .frame-30 {
  align-self: flex-end;
  height: 84px;
  position: relative;
  width: 20px;
}

.about-us .flex-col-4 {
  align-items: flex-start;
  min-height: 85px;
  width: 292px;
}

.about-us .address {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: 10px;
  min-width: 292px;
  text-align: center;
  white-space: nowrap;
}

.about-us .frame-25 {
  align-items: center;
  background-color: var(--deep-sapphire);
  display: flex;
  flex-direction: column;
  height: 377px;
  margin-top: 40px;
  padding: 76px 0;
  width: 1512px;
}

.about-us .frame-27 {
  align-items: flex-end;
  background-color: var(--ebony-clay);
  display: flex;
  flex-direction: column;
  gap: 64px;
  height: 391px;
  padding: 16px 114px;
  width: 1512px;
}

.about-us .flex-row-3 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  gap: 169px;
  height: 221px;
  margin-right: 36.0px;
  min-width: 958px;
}

.about-us .flex-col-5 {
  align-items: flex-start;
  min-height: 221px;
  width: 469px;
}

.about-us .logo {
  align-items: flex-end;
  background-position: 50% 50%;
  background-image: url(../img/result.png);
  background-size: cover;
  display: flex;
  height: 118px;
  justify-content: flex-end;
  min-width: 118px;
  padding: 14.3px 23.5px;
}

.about-us .rectangle-11 {
  background-color: var(--hampton);
  height: 17px;
  transform: rotate(-36.08deg);
  width: 4px;
}

.about-us .contact-us-1 {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  white-space: nowrap;
}

.about-us .flex-row-4 {
  align-items: flex-end;
  display: flex;
  gap: 8px;
  height: 86px;
  min-width: 320px;
}

.about-us .frame-30-1 {
  height: 84px;
  position: relative;
  width: 20px;
}

.about-us .flex-col-6 {
  align-items: flex-start;
  min-height: 86px;
  width: 292px;
}

.about-us .address-1 {
  margin-top: 11px;
  min-width: 292px;
  text-align: center;
}

.about-us .flex-col-7 {
  align-items: center;
  gap: 31px;
  min-height: 56px;
  width: 1283px;
}

.about-us .vector-5 {
  height: 22px;
  width: 22px;
}

.about-us .address-2 {
  margin-bottom: 1.0px;
  min-width: 576px;
}

.about-us .address-3 {
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.about-us .flex-col-8 {
  display: flex;
  flex-direction: column;
}

.about-us .lorem-ipsum-dolor-si-3 {
  letter-spacing: 0;
  line-height: normal;
}
