:root { 
  --black: #000000;
  --black-2: #000000cc;
  --black-3: #00000080;
  --bright-gray: #384152;
  --deep-sapphire: #0a2363;
  --deep-sapphire-2: #0a236336;
  --ebony-clay: #202938;
  --french-gray: #b8bdca;
  --hampton: #ead5ad;
  --mercury: #e6e6e6;
  --white: #ffffff;
  --white-2: #ffffff80;
 
  --font-size-l: 16.7px;
  --font-size-m: 15.7px;
  --font-size-xl: 20px;
  --font-size-xxl: 20.6px;
  --font-size-xxxl: 25.6px;
  --font-size-xxxxl: 27.6px;
  --font-size-xxxxxl: 33.5px;
 
  --font-family-inter: "Inter", Helvetica;
}
.inter-medium-black-25-6px {
  color: var(--black-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.inter-medium-black-25-6px-2 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.inter-medium-white-15-7px {
  color: var(--white-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.inter-bold-black-25-6px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-medium-black-16-7px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.inter-medium-black-20-6px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.inter-medium-black-15-7px {
  color: var(--black-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.inter-semi-bold-black-33-5px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-white-25-6px {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-black-25-6px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.inter-bold-white-16-7px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-black-20-6px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-deep-sapphire-15-7px {
  color: var(--deep-sapphire);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-black-30px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

.inter-semi-bold-black-27-6px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 600;
}

.inter-medium-black-20px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.inter-medium-white-15-7px-2 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.inter-semi-bold-black-20-6px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.inter-medium-white-25-6px {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.inter-bold-white-30px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

.inter-bold-deep-sapphire-29-6px {
  color: var(--deep-sapphire);
  font-family: var(--font-family-inter);
  font-size: 29.6px;
  font-style: normal;
  font-weight: 700;
}

.inter-medium-black-16-7px-2 {
  color: var(--black-3);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.inter-bold-white-48px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

.inter-bold-black-15-7px {
  color: var(--black-3);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-deep-sapphire-16-7px {
  color: var(--deep-sapphire);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-white-25-6px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-white-15-7px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-semi-bold-deep-sapphire-25-6px {
  color: var(--deep-sapphire);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.inter-bold-white-20-6px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-black-25-6px-2 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-black-15-7px-2 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-medium-white-25-6px-2 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.inter-bold-black-33-5px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-medium-deep-sapphire-25-6px {
  color: var(--deep-sapphire);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.inter-medium-black-30px {
  color: var(--black-3);
  font-family: var(--font-family-inter);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}

.inter-bold-deep-sapphire-40px {
  color: var(--deep-sapphire);
  font-family: var(--font-family-inter);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
